<div class="container">
    <div class="sidebar">
        <div class="header">
            <!-- <h4>Split Wise</h4> -->
            <div class="header-icon">
                <div class="curved-box">
                    <img src="../../assets/logo/company_logo.jpg" alt="" class="header-icon-image">
                </div>
            </div>
            <div class="header-company">
                <h5>Split Wise</h5>
            </div>
        </div>
        <div class="items">
    
            <!-- Home -->
            <a class="nav-link">
                <div class="item-icon">
                    <span class="bi bi-house-door"></span>
                </div>
                <div class="item-name">
                    Home
                </div>
            </a>
    
            <!--  Create Group -->
            <a class="nav-link">
                <div class="item-icon">
                    <span class="bi bi-plus-square"></span>
                </div>
                <div class="item-name">
                    Create Group
                </div>
            </a>
    
            <!-- My Groups -->
            <a class="nav-link">
                <div class="item-icon">
                    <span class="bi bi-people-fill"></span>
                </div>
                <div class="item-name">
                    My Groups
                </div>
            </a>
    
            <!-- Settings -->
            <a class="nav-link">
                <div class="item-icon">
                    <span class="bi bi-gear"></span>
                </div>
                <div class="item-name">
                    Settings
                </div>
            </a>
        </div>
        <div class="footer">
            <div class="footer-line"></div>
            <div class="profile-box">
                <div class="profile-picture">
                        <img src="../../assets/logo/company_logo.jpg" alt="">
                </div>
                <div class="user-info">
                    <div class="user-name">Olivia Rhye</div>
                    <!-- <div class="email">bsmv.08@gmail.com</div> -->
                </div>
                <!-- <button class="bi bi-box-arrow-right"></button> -->
                <a class="icon-link"></a>
                <!-- <button class="fa fa-sign-out" aria-hidden="true"></button> -->
            </div>
            <a href="" class="icon-link" title="logout">
                <span class="bi bi-box-arrow-right"></span>
            </a>
        </div>
    </div>
</div>