<div class="container">
    <div class="HeaderSection">
        <div class="Container">
            <div class="PageHeader">
                <div class="Content">
                    <div class="Text">Join Group</div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

<div class="innercontainer">
    <div class="row">
        <div class="bold-text">
            Ready to join the Split?
        </div>
        <div class="light-text">
            Just enter the group code, and you're in!
        </div>
    </div>

    <div class="code-box">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
                <input type="text">
            </div>
        </div>
    </div>
</div>
</div>