.header{
    background-color: #F4EBFF;
    padding:15px;
    /* color: white; */
    /* text-align: left; */
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    align-items: center; 
}

/* .h1 {
    margin:0 ;
} */
