<div class="container-group">
    <div class="HeaderSection">
        <div class="Container">
            <div class="PageHeader">
                <div class="Content">
                    <div class="Text">Create Group</div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
      <form [formGroup]="groupForm">


      <div class="row">
        <div class="col-3">
          <label for="name" id="name-label">
            Add Group Photo
          </label>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center">
              <div class="outer-circle">
                <i class="fas fa-plus plus-icon"></i>
                <div class="square-box">
                  <i class="bi bi-person-add person-icon"></i>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <!-- Small icon with specified CSS properties -->
          <div class="small-icon">
            <!-- Your icon content goes here -->
            <i class="bi bi-journals"></i>
          </div>
          <label for="group-title" id="group-title-label">
            Group Title
          </label>
        </div>
        <div class="col-9">
          <input type="text" id="name" formControlName="title" name="name" placeholder="Group Title" required autocomplete="off">
        </div>
      </div>
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <!-- Small icon with specified CSS properties -->
          <div class="small-icon">
            <!-- Your icon content goes here -->
            <i class="bi bi-calendar"></i>
          </div>
          <label for="group-title" id="group-title-label">
            Select Date
          </label>
        </div>
        <div class="col-9">
          <p-calendar [(ngModel)]="selectedDate" formControlName="date" [showIcon]="true" placeholder="select Date" class="input" dateformat="dd M,yy"></p-calendar>
        </div>
      </div>
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <!-- Small icon with specified CSS properties -->
          <div class="small-icon">
            <!-- Your icon content goes here -->
            <i class="bi bi-journals"></i>
          </div>
          <label for="group-title" id="group-title-label">
            Ocassion
          </label>
        </div>
        <div class="col-9">
          <!-- <input type="text" id="name" name="name" placeholder="Ocassion" rows="10" autocomplete="off" required> -->
          <textarea name="" id="textarea" formControlName="ocassion" cols="40" rows="5" autocomplete="off"></textarea>
        </div>
      </div>
      <footer class="site-footer">
        <hr class="line">
        <div class="button-row">
          <button class="cancel-btn" (click)="goback()">Cancel</button>
          <button class="submit-btn" (click)="submitForm()">Submit</button>
        </div>
      </footer>
    </form>
    </div>
</div>

<!-- // TODO confirmation model
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to perform this action?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmAction()">Confirm</button>
      </div>
    </div>
  </div>
</div> -->

  

