<div class="container-group">
    <div class="HeaderSection">
        <div class="Container">
            <div class="PageHeader">
                <div class="Content">
                    <div class="Text">Create Group</div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-form">
        <div class="user-details-container">
            <div class="heading">
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <div class="add-profile">
                <div class="heading">Add Profile Photo</div>
              </div>
            </div>
            <div class="heading">
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <div class="add-title">
                <div class="heading">Group Title</div>
              </div>
            </div>
            <div class="heading">
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <div class="add-title">
                <div class="heading">Select Date</div>
              </div>
            </div>
            <div class="heading">
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <div class="add-title">
                <div class="heading">Occassion</div>
              </div>
            </div>
            
            <!-- <div class="user-detail">
              <div class="icon">
                <i class="fas fa-user"></i>
              </div>
              <div class="details">
                <div class="heading">Last Name</div>
                <div class="value">Doe</div>
              </div>
            </div>
            
            <div class="user-detail">
              <div class="icon">
                <i class="fas fa-phone"></i>
              </div>
              <div class="details">
                <div class="heading">Phone Number</div>
                <div class="value">123-456-7890</div>
              </div>
            </div>
            
            <div class="user-detail">
              <div class="icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="details">
                <div class="heading">Email</div>
                <div class="value">john.doe@example.com</div>
              </div>
            </div> -->
          </div>
    </div>
</div>
  

