<div class="container-group">
    <div class="HeaderSection">
        <div class="Container">
            <div class="PageHeader">
                <div class="Content">
                    <div class="Text">Create Group</div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="form-container">
      <div class="form-group">
        <label for="fieldName1">Field Name 1:</label>
        <input type="text" id="fieldName1" name="fieldName1" placeholder="Enter value">
      </div>
    
      <div class="form-group">
        <label for="fieldName2">Field Name 2:</label>
        <input type="text" id="fieldName2" name="fieldName2" placeholder="Enter value">
      </div>
    </div>
</div>
  

