.HeaderSection {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 6px;
    background: #F4EBFF;
}

.Container {
    align-self: stretch;
    height: 38px;
    display: flex;
}

.PageHeader {
    align-self: stretch;
    height: 38px;
    display: flex;
}

.Content {
    display: inline-flex;
}

.Text {
    flex: 1 1 0;
    color: #161515;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    line-height: 38px;
    word-wrap: break-word;
}

/* group form css starts */


.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.form-group label {
  flex: 0 0 auto;
  margin-right: 10px;
}

.form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* text-align: center;  */
}

/* group form css ends*/