.HeaderSection {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 6px;
    background: #F4EBFF;
}

.Container {
    align-self: stretch;
    height: 38px;
    display: flex;
}

.PageHeader {
    align-self: stretch;
    height: 38px;
    display: flex;
}

.Content {
    display: inline-flex;
}

.Text {
    flex: 1 1 0;
    color: #161515;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    line-height: 38px;
    word-wrap: break-word;
}

/* group form css starts */
.col-25 {
  width: 25%;
  float: left;
  margin-top: 6px;
}
/* This command sets the width of `<div> containing the col-75 class to a fraction of the total width of the row <div> */
.col-75 {
  width: 75%;
  float: left;
  margin-top: 6px;
}

This command sets the width of the tag you working with
input[type = text] {
  width : 100%;
}

/* This part ensures the text after each form element stays in place after the float command. */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* group form css ends*/