<div class="container-group">
    <div class="HeaderSection">
        <div class="Container">
            <div class="PageHeader">
                <div class="Content">
                    <div class="Text">Create Group</div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <label for="name" id="name-label">
            Add Profile Photo
          </label>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center">
              <div class="outer-circle">
                <i class="fas fa-plus plus-icon"></i>
                <div class="square-box">
                  <i class="bi bi-person-add person-icon"></i>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <!-- Small icon with specified CSS properties -->
          <div class="small-icon">
            <!-- Your icon content goes here -->
            <i class="bi bi-journals"></i>
          </div>
          <label for="group-title" id="group-title-label">
            Group Title
          </label>
        </div>
        <div class="col-9">
          <input type="text" id="name" name="name" placeholder="Group Title" required>
        </div>
      </div>
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <!-- Small icon with specified CSS properties -->
          <div class="small-icon">
            <!-- Your icon content goes here -->
            <i class="bi bi-calendar"></i>
          </div>
          <label for="group-title" id="group-title-label">
            Select Date
          </label>
        </div>
        <div class="col-9">
          <p-calendar [(ngModel)]="selectedDate" [showIcon]="true"></p-calendar>
        </div>
      </div>
      <div class="ocassion-row">
        <!-- <div class="col-3">
          <label for="name" id="name-label">
            Ocassion
          </label>
        </div>
        <div class="col-9">
          <input type="text" id="name" name="name" placeholder="Ocassion" required>
        </div> -->
        <div class="col-3">
          <label for="ocassion-heading" id="name-label">
            Ocassion
          </label>
        </div>
        <div class="col-9">
          <div class="container">
            <!-- Input with its own styling -->
            <input type="text" id="name" name="name" class="styled-input" placeholder="Input Text" required>
        
            <!-- Textarea with its own styling -->
            <textarea id="message" name="message" class="styled-textarea" placeholder="Textarea Text" required></textarea>
        </div>
        </div>

      </div>
    </div>
</div>
  

